/* Generali */
[class*="col-"] {
    min-height: 100px;
    /* background-color:aqua; */
    border: 1px solid red;
}

/* Header */
header {
    width: 100%;
    position: fixed;
}

.black-sony {
    display: flex;
    justify-content: end;
    background-color: black;
    /* min-height: 50px; */
}

.black-sony img {
    width: 100px;
    margin: 15px;
}

/* MAIN */
/* Jumbotron */
.my-jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.my-jumbotron .col-12{
    min-height: 500px;
}

/* Carousel */
.carousel img {
    width: 100%;
    border-radius: 12px;
}

/* PS5 */
#ps5 span {
    color: blue;
}